<form action="/posts/add" method="post">
    <div>
        <label for="title">Title</label>
        <input type="text" name="title" id="title" placeholder="Title" /> 
    </div>
    <div>
        <label for="Content">Content</label>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>